[Unit]
Description=SmartSight CloudCam Daemon (Debian Trixie)
After=network-online.target tailscaled.service
Wants=network-online.target tailscaled.service

[Service]
Type=simple
User=ratish
WorkingDirectory=/home/ratish/Desktop/SmartSight-Droidcam/cloudcam
Environment="PATH=/home/ratish/Desktop/SmartSight-Droidcam/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/ratish/Desktop/SmartSight-Droidcam/venv/bin/python3 /home/ratish/Desktop/SmartSight-Droidcam/cloudcam/cloudcam_daemon.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
